.type-title {
    height: 80px;
    text-align: left; /* Align text to the left */
    padding-left: 20px; /* Add distance from the left side */
    line-height: 80px; /* Vertical alignment for a single line of text */
    font-family: 'YourAttractiveFont', sans-serif; /* Replace 'YourAttractiveFont' with the actual font you want to use */
    font-size: 24px; /* Adjust font size as needed */
    color: white; /* Text color */
    /* background-image: url('Component\ 7\ –\ 1.png'); Replace 'your-background-image.jpg' with the actual image path */
    background-size: cover; /* Ensure the background image covers the entire div */
    background-color: rgb(107, 198, 179); /* Fallback background color */
  }

 .menu-detail {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
 }



 #menu {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

#menu section {
  text-align: center;
}

#menu img {
  width: 100px; /* Adjust the image width as needed */
  height: 100px; /* Adjust the image height as needed */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

  .individual-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 400px; /* Adjust as needed */
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd; /* Add border for better visibility */

  }
  


 
  .dish-name, .price-dish, .dish-img {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .dish-img img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space beneath inline images */
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }