    {% load static %}
    <!-- New Section for Contact Details and Social Media -->
    <section id="contact">
        <div class="contact-info">
          <h3>Contact Us</h3>
          <p>Email: info@restaurant.com</p>
          <p>Phone: +1 (123) 456-7890</p>
          <p>Address: 123 Main Street, Cityville</p>
        </div>
  
        <div class="social-media">
          <h3>Follow Us</h3>
          <a href="#" class="social-link">
            <img src="{% static 'asset/facebook-icon.png' %}" alt="Facebook">
          </a>
          <a href="#" class="social-link">
            <img src="{% static 'asset/twitterX-icon.png' %}" alt="Twitter">
          </a>
          <a href="#" class="social-link">
            <img src="{% static 'asset/instagram-icon.png' %}" alt="Instagram">
          </a>
        </div>
      </section>
  
      <footer>
          <p>&copy; 2023 THAI DELIGHT</p>
      </footer>